.root {
   margin-top: 140px;
   padding: 120px 0;
   background: no-repeat center url('../../../../assets/banner_2.png');
   background-size: cover;
}

.history {
   display: flex;
   justify-content: center;
}

.content {
   max-width: 761px;
   text-align: center;

   button {
      margin-top: 50px;
   }
}

.heading {
   font-size: 32px;
   font-style: normal;
   font-weight: 500;	
   line-height: 125%;
}
