.small {
   font-size: 13px;
   line-height: 145%;
	color: var(--color-third);
}

.medium {
   font-size: 16px;
   line-height: auto;
}

.large {
   font-size: 16px;
   font-weight: 600;
   line-height: 140%;
}

.extra_large {
   font-size: 18px;
   font-weight: 400;
   line-height: 145%;
}
